.random-planet {
    display: flex;
    padding: 1rem;
    margin: 0 1rem 0;
    flex-direction: row;
    align-items: center;
}

.random-planet .planet-image {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin:  0 1rem ;
}

.random-planet .list-group {
    margin: 1rem 0 0 1rem;

}

.random-planet .list-group-item {
    padding: .25rem;
}

.random-planet .list-group-item .term {
    margin-right: .5rem;
}

.random-button{
    background-color: #cf850f;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 1rem 0;
}
.random-button:hover{
    background-color: #8e5c0b;
    color: #fbebd0;
}